<launch>
    <arg name="nodelet_manager_on" default="true" />
    <arg name="nodelet_manager_name" default="rio_nodelet_manager" />

    <arg name="baro_on" default="false" />
    <arg name="baro_path" default="/dev/spidev2.0" />
    <arg name="baro_frame_id" default="bmp390" />
    <arg name="baro_poll_rate" default="60.0" />

    <arg name="imu_on" default="false" />
    <arg name="imu_path_acc" default="/dev/spidev0.0" />
    <arg name="imu_path_gyro" default="/dev/spidev0.1" />
    <arg name="imu_frame_id" default="bmi088" />
    <arg name="imu_poll_rate" default="500.0" />
    <arg name="imu_bias_samples" default="2000" />

    <arg name="radar_on" default="false" />
    <arg name="radar_path_cfg" default="/dev/ttyUSB0" />
    <arg name="radar_path_data" default="/dev/ttyUSB1" />
    <arg name="radar_frame_id" default="awr1843aop" />
    <arg name="radar_poll_rate" default="8.0" />
    <!--arg name="radar_cfg" default="$(find mav_sensors_demo)/cfg/radar/xwr18xx_AOP_profile_best_velocity_resolution.cfg" /-->
    <arg name="radar_trigger" default="true" />
    <arg name="radar_trigger_delay" default="500" />
    <arg name="radar_trigger_gpio" default="443" />
    <arg name="radar_trigger_gpio_name" default="PR.00" />

    <arg name="rio_on" default="true" />
    <arg name="rio_queue_size" default="1" />
    <arg name="rio_odom_frame_id" default="odom" />

    <arg name="imu_filter_on" default="false" />

    <arg name="lidar_on" default="false" />

    <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager_name)" args="manager" cwd="node" output="screen" if="$(arg nodelet_manager_on)"/>
    <node pkg="nodelet" type="nodelet" name="baro" args="load rio::BaroNodelet $(arg nodelet_manager_name)" output="screen" if="$(arg baro_on)">
		<param name="path" value="$(arg baro_path)"/>
        <param name="frame_id" value="$(arg baro_frame_id)"/>
        <param name="poll_rate" value="$(arg baro_poll_rate)"/>
    </node>
    <node pkg="nodelet" type="nodelet" name="imu" args="load rio::ImuNodelet $(arg nodelet_manager_name)" output="screen" if="$(arg imu_on)">
        <rosparam file="$(find rio)/cfg/imu.yaml" />
        <param name="path_acc" value="$(arg imu_path_acc)"/>
        <param name="path_gyro" value="$(arg imu_path_gyro)"/>
        <param name="frame_id" value="$(arg imu_frame_id)"/>
        <param name="poll_rate" value="$(arg imu_poll_rate)"/>
        <param name="bias_samples" value="$(arg imu_bias_samples)"/>
    </node>

    <group if="$(arg radar_on)">
        <node pkg="nodelet" type="nodelet" name="radar" args="load rio::RadarNodelet $(arg nodelet_manager_name)" output="screen">
            <param name="path_cfg" value="$(arg radar_path_cfg)"/>
            <param name="path_data" value="$(arg radar_path_data)"/>
            <param name="frame_id" value="$(arg radar_frame_id)"/>
            <param name="poll_rate" value="$(arg radar_poll_rate)"/>
            <param name="radar_cfg" value="$(arg radar_cfg)"/>
            <param name="trigger" type="string" value="$(arg radar_trigger)"/>
            <param name="trigger_delay" type="string" value="$(arg radar_trigger_delay)"/>
            <param name="trigger_gpio" type="string" value="$(arg radar_trigger_gpio)"/>
            <param name="trigger_gpio_name" type="string" value="$(arg radar_trigger_gpio_name)"/>
        </node>
    </group>

    <group if="$(arg rio_on)">
        <node pkg="nodelet" type="nodelet" name="rio" args="load rio::RioNodelet $(arg nodelet_manager_name)" output="screen">
			<rosparam file="$(find rio)/cfg/rio.yaml" />
            <param name="queue_size" value="$(arg rio_queue_size)"/>
            <param name="odom_frame_id" value="$(arg rio_odom_frame_id)"/>
        </node>

        <!--node pkg="rio" type="rio_node" name="rio" output="screen" -->
			<!--rosparam file="$(find rio)/cfg/rio.yaml" />
            <param name="queue_size" value="$(arg rio_queue_size)"/>
            <param name="odom_frame_id" value="$(arg rio_odom_frame_id)"/>
        </node-->
        <node name="imu_to_radar_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0.115 -0.002 -0.018 0.705 0.705 -0.049 -0.049 '$(arg imu_frame_id)' '$(arg radar_frame_id)'" />
    </group>

    <group if="$(arg imu_filter_on)">
        <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" args="load imu_filter_madgwick/ImuFilterNodelet $(arg nodelet_manager_name)" output="screen">
            <param name="publish_tf" value="false"/>
            <param name="use_mag" value="false"/>
        </node>
    </group>

    <group if="$(arg lidar_on)">
        <param name="user_config_path" type="string" value="$(find rio)/cfg/mid360.json"/>
        <node name="livox_lidar_publisher2" pkg="livox_ros_driver2" type="livox_ros_driver2_node" output="screen" args=""/>
        <node name="imu_to_lidar_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="0.005 -0.001 0.101 0.0 1.0 0.0 0.0 '$(arg imu_frame_id)' livox_frame" />
        <node name="imu_to_prism_broadcaster" pkg="tf2_ros" type="static_transform_publisher" args="-0.038 -0.001 0.170 0.0 0.0 0.0 1.0 '$(arg imu_frame_id)' mini_prism" />
    </group>

</launch>
